:root {
	--border-radius: 8px;
	--padding: 16px;
	--background-color: #e0e0e0;
	--field-background-color: #eeeeee;
	--field-tile-background-color: #ffffff;
	--shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
	user-select: none;
}

html {
	overscroll-behavior: none;
}

body {
	background: var(--background-color);
	width: 100dvw;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	padding: var(--padding);
	background: var(--field-tile-background-color);
	border: none;
	border-radius: var(--border-radius);
}

button:not(:disabled) {
	cursor: pointer;
}

.gamemain {
	display: flex;
	padding: var(--padding);
	gap: var(--padding);
	flex-direction: row;
	background: var(--field-background-color);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
}

.sidebar {
	display: flex;
	gap: var(--padding);
	flex-direction: column;
}

.info {
	display: flex;
	padding: var(--padding);
	flex-direction: column;
	background: var(--field-tile-background-color);
	border-radius: var(--border-radius);
}

.buttons>button {
	width: 100%;
}

.field {
	position: relative;
	display: grid;
	gap: var(--padding);
}

.fieldTileBackground {
	background: var(--field-tile-background-color);
	border-radius: var(--border-radius);
}

.fieldTile {
	position: absolute;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
	font-size: 2rem;
	color: white;
	background: black;
	z-index: 1;
}

.fieldTile[data-state="1"] {
	background-color: #0ebeff;
}

.fieldTile[data-state="2"] {
	background-color: #22adfd;
}

.fieldTile[data-state="3"] {
	background-color: #369bfc;
}

.fieldTile[data-state="4"] {
	background-color: #4a8afa;
}

.fieldTile[data-state="5"] {
	background-color: #5e79f8;
}

.fieldTile[data-state="6"] {
	background-color: #7268f7;
}

.fieldTile[data-state="7"] {
	background-color: #8556f5;
}

.fieldTile[data-state="8"] {
	background-color: #9945f3;
}

.fieldTile[data-state="9"] {
	background-color: #ad34f1;
}

.fieldTile[data-state="10"] {
	background-color: #c122f0;
}

.fieldTile[data-state="11"] {
	background-color: #d511ee;
}
