:root {
	--border-radius: 8px;
	--padding: 16px;
	--text-color: #000000;
	--background-color: #e0e0e0;
	--gamemain-background-color: #eeeeee;
	--field-tile-background-color: #ffffff;
	--shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--border-radius: 8px;
		--padding: 16px;
		--text-color: #f3f3f3;
		--background-color: #2e2e2e;
		--gamemain-background-color: #3f3f3f;
		--field-tile-background-color: #2e2e2e;
		--shadow: rgba(14, 30, 37, 0.12) 0px 4px 6px -1px, rgba(14, 30, 37, 0.32) 0px 2px 4px -1px;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
	user-select: none;
}

html {
	overscroll-behavior: none;
}

body {
	color: var(--text-color);
	background: var(--background-color);
	width: 100dvw;
	height: 100dvh;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	color: var(--text-color);
	padding: var(--padding);
	background: var(--field-tile-background-color);
	border: none;
	border-radius: var(--border-radius);
}

button:disabled {
	cursor: no-drop;
}

button:not(:disabled) {
	cursor: pointer;
}

.gamemain {
	display: grid;
	padding: var(--padding);
	gap: var(--padding);
	background: var(--gamemain-background-color);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
	grid-template-columns: 1fr 128px;
	grid-template-rows: 1fr 48px;
}

.sidebar {
	display: flex;
	gap: var(--padding);
	flex-direction: column;
}

.info {
	display: flex;
	padding: var(--padding);
	flex-direction: column;
	background: var(--field-tile-background-color);
	border-radius: var(--border-radius);
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
}

.buttons>button {
	width: 100%;
}

.stepControl {
	grid-column: 1 / 3;
	display: grid;
	gap: var(--padding);
	grid-template-columns: 48px 1fr 48px 48px;
}

.stepBar {
	width: 100%;
}

.stepInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.field {
	position: relative;
	display: grid;
	gap: var(--padding);
}

.fieldTileBackground {
	background: var(--field-tile-background-color);
	border-radius: var(--border-radius);
}

.fieldTile {
	position: absolute;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
	font-size: 2rem;
	color: white;
	background: black;
	z-index: 1;
}

.fieldTile[data-state="1"] {
	background-color: #0ebeff;
}

.fieldTile[data-state="2"] {
	background-color: #22adfd;
}

.fieldTile[data-state="3"] {
	background-color: #369bfc;
}

.fieldTile[data-state="4"] {
	background-color: #4a8afa;
}

.fieldTile[data-state="5"] {
	background-color: #5e79f8;
}

.fieldTile[data-state="6"] {
	background-color: #7268f7;
}

.fieldTile[data-state="7"] {
	background-color: #8556f5;
}

.fieldTile[data-state="8"] {
	background-color: #9945f3;
}

.fieldTile[data-state="9"] {
	background-color: #ad34f1;
}

.fieldTile[data-state="10"] {
	background-color: #c122f0;
}

.fieldTile[data-state="11"] {
	background-color: #d511ee;
}
